<h1> Salut et bienvenu à toi !   </h1>
<h2> Un métier t'a toujours, secrètement, fait rêvé ? Et tu aimerais plus d'informations sur le sujet ?
Tu prévois une reconversion professionnelle mais tu ne connais personne dans le domaine qui t'intèresse ?
 Rejoins la communauté NiceToMeetU!
 Tu trouveras ici, des professionnels prêts à répondre à toutes tes questions. </h2>

<h3> NiceToMeetU c'est surtout : </h3>
<h4> - Une platerforme basée sur la confiance de chacun. Nous comptons sur toi
pour que tes conseils soient en adéquation avec le métier indiqué.
- Beaucoup d'entraide, alors n'hésites pas, toi aussi, à partager tes conseils!
- Une bonne dose de bienveillance ! On ne juge pas, et on se parle doucement.
- De la diversité.
 </h4>

Clic ici pour commencer l'aventure NiceToMeetU
